body {
  text-align: center;
  padding: 5pv;
  background-color: #C0BC88;
  font-family: verdana;
  color:#8F384E;
}
#container {
  display: flex;
  justify-content: center;
}

ul{
  list-style: none;
  padding-left: 0;

}

li{
text-align: center;
min-height: 30px;
background-color: #2C4B65;
color:white;
margin-bottom:30px;
border-radius:5px;
padding-top: 10px;
}

button{
  min-width: 70px;
  margin: 5px;
  padding: 10px;
}
